.DailyForecast {
    text-align: center;
}

.DailyForecast .DailyForecast-mintemp {
    opacity: 0.6;
    margin-left: 5px;
}

.DailyForecast-temp {
    color:rgb(245, 127, 146);
    font-weight: bold;
}

.DailyForecast-day {
    margin-bottom: 4px;
    color: rgb(245, 127, 146);
    font-weight: bold;
}

.DailyForecast-day canvas {
    height: 10px;
}