.Weather {
    border: 1px solid #CED4DA;
    border-radius: 5px;
    padding: 20px;
    background: linear-gradient(0deg, rgb(247, 247, 247) 23.8%, rgb(252, 221, 221) 92%);
}

.Weather h1 {
    margin-bottom: 0;
    margin-top: 20px;
    color: navy;
}

.weather-temperature canvas {
    height: 56px;
    margin-right: 5px;
}

.Weather ul {
    list-style: none;
    padding: 0;
    color: #f57f92;
}

.Weather .weather-date {
    margin-left: 10px;
}

.Weather .weather-temperature {
    display: flex;
    justify-content: flex-end;
}

.Weather .current-temp {
    font-size: 50px;
    line-height: 62px;
    color: navy;
}

.Weather .units {
    position: relative;
    top: -27px;
    font-size: 15px;
    color: navy;
}

.Weather .weather-details {
    font-size: 12px;
    color: rgb(245, 127, 146);
}

.Weather .search-button {
    background: navy;
    color: white;
    transition: all 2ms ease-in-out;
}

.Weather .search-button:hover {
    background: rgb(245, 127, 146);
    color: white;
    border-color: #CED4DA;
}

.bold {
    font-weight: bold;
}