form, .user-input {
    padding: 8px;
}

.user-input {
    margin-right: 10px;
}

ul {
    list-style: none;
}

.current-temp {
    font-size: 40px;
}

.testing {
    display: flex;
    justify-content: flex-end;
}

.testing-two {
    display: flex;
    justify-content: flex-start;
}
